{% for product in products %}
    <div class="col-sm-3">
        <div class="card">
            <div class="card-img-top">
                {% if product.images.first %}
                    <img class="card-img-top" src="{{ vich_uploader_asset(product.images.first, 'imageFile') | imagine_filter('squared_thumbnail') }}" alt="{{ product.name }}">
                {% else %}
                    <img class="card-img-top" src="//placehold.it/250x250" alt="{{ product.name }}">
                {% endif %}
            </div>

            <div class="card-body product-card">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text product-description">{{ product.shortDescription }}</p>
                <p class="card-text">{{ product.price }} грн.</p>
                <a href="{{ path('products_show', {'id': product.id}) }}" class="btn btn-info">Подробнее</a>

                <a href="{{ path('orders_add_to_cart', {'id': product.id, 'quantity': 1}) }}"
                   class="btn btn-primary js-add-to-cart">
                    <i class="fas fa-cart-plus"></i>
                </a>
            </div>
        </div>
    </div>
{% endfor %}
