{% for product in products %}
    <div class="col-sm-3">
        <div class="card">
            <img class="card-img-top" src="//placehold.it/100x100" alt="{{ product.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text">{{ product.price }} грн.</p>
                <a href="{{ path('products_show', {'id': product.id}) }}" class="btn btn-info">Подробнее</a>
                <a href="{{ path('orders_add_to_cart', {'id': product.id, 'quantity': 1}) }}" class="btn btn-primary">В корзину</a>
            </div>
        </div>
    </div>
{% endfor %}
