{% extends 'base.html.twig' %}

{% block body %}
    <h1>Добро пожаловать</h1>

    <div class="row">

        {% for product in products %}
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="//placehold.it/100x100" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">{{ product.price }} грн.</p>
                        <a href="{{ path('products_show', {'id': product.id}) }}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
